{{ define "main" }}
  {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
  {{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
  {{ $filtered := ($pages | intersect $notHidden) }}
  {{ $pag := .Paginate $filtered 18 }}

  <section class="article-list">
    {{ range $i, $page := $pag.Pages }}
      {{ if eq (mod $i 3) 0 }}
        {{ if ne $i 0 }}</div>{{ end }}
        <div class="row">
      {{ end }}
      <div class="col">
        {{ partial "article-list/default" $page }}
      </div>
    {{ end }}
    </div>
  </section>

  {{ partial "pagination.html" . }}
  {{ partial "footer/footer" . }}
{{ end }}
